@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8f5ff;
}

.app {
  width: 500px;
  margin: 5% auto;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
}

.app > h1 {
  padding: 1rem;
  margin-bottom: -15px;
}

h3 {
  border-bottom: 2px solid #e8f5ff;
  padding-bottom: 5px;
}

.todos {
  text-align: left;
}

.todos li {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.todos li:hover {
  background-color: #e8f5ff;
}

.todos.completed li {
  text-decoration: line-through;
}

.todos.completed li:hover {
  cursor: not-allowed;
  background-color: #e8ffeb;
}
