@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8f5ff;
}

.app {
  width: 500px;
  margin: 5% auto;
  padding: 5%;
  background-color: #fff;
  border-radius: 8px;
  /* text-align: center; */
  overflow: hidden;
}

h3 {
  padding-bottom: 5px;
}

.todo {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.todo:hover {
  background-color: #e8f5ff;
}

.todo-completed {
  text-decoration: line-through;
}

.todo-completed:hover {
  cursor: not-allowed;
  background-color: #e8ffeb;
}

.user-name {
  color: blue;
}
